<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "myImage.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Minjoon Choi.</h1>
    <p>I work in Dunamu Inc.</p>
    <p>This week I built up a blog. Cool stuff, right!.</p>
    <p>I am a student of SNU and I am 21 years old!</p>
  </div>
</div>